.footer {
  height: 40px;
  width: 100%;
}
.contain {
  display: flex;
  justify-content: space-around;
}

.col {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.col h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.social,
.email,
.phone {
  margin-top: 10px;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.social .social-icons {
  margin-left: 6%;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  p {
    font-size: 12px;
  }
  h1 {
    font-size: 20px;
  }
  .social,
  .email,
  .phone {
    color: white;
    font-size: 12px;
  }
  .social .social-icons {
    margin-left: 2%;
  }
}
